* {
  box-sizing: border-box;
  color: #333;
}

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, #4ca1af, #c4e0e5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
